.mouseHeader:hover {
    border-bottom: 3px solid #FFF212;
  }
  .mouseBtn:hover {
    background-color: #DD9BDA; 
    
  }
  .fontFamily2 {
    font-family: 'Raleway', sans-serif;
  }
  .zoomImg {
    transition: transform 0.3s;
  }
  .zoomImg:hover {
    transform: scale(1.1);
  }
  .bg-card-mision {
    background: rgba(120, 145, 228, 0.342);
    border-radius: 50px;
  }
  .bg-blue-dark {
    background-color: #021c72; 
  }
  .bg-card-vision {
    background-color:rgba(71, 214, 102, 0.342) ;
    border-radius: 50px;
  }
  .bg-desplegable {
    background-color:rgb(157, 226, 222) ;
    border-radius: 50px;
  }
  .texto-borde {
    
      -webkit-text-fill-color: rgb(255, 255, 255);
      -webkit-text-stroke: 1.5px #021e7c;
      }
  
  .colorAzulDark {
    color: #021e7c;
  }
  .border-radius-cruz {
    border: 5px solid white;
    border-radius: 80px ;
  }
  .btn-clinica {
    background: linear-gradient(rgba(11, 201, 226, 0.753), rgba(49, 179, 240, 0.904));
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
  }
  .bg-bermudez {
    background-color: #AC0DA5;
  }
  .sinBorder {
    border: none;
  }
  .bg-urgencia-amarillo {
    background: linear-gradient(rgb(252, 215, 6), rgb(233, 188, 40));
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
  }
  .bg-ambulancia {
    height:100%;
    background:linear-gradient(rgba(255, 255, 255, 0.753), rgba(175, 172, 172, 0.904)), 
    url(./assets/bg-ambulancia.jpeg);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-ambulancia-cuadraditos {
    height:100%;
    background: 
    url(./assets/ambulancia-cuadraditos.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-minita {
    height:100%;
    background:linear-gradient(rgba(255, 255, 255, 0.753), rgba(175, 172, 172, 0.904)), 
    url(./assets/minita-telefono.jpeg);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-clinica {
    height:100%;
    background:linear-gradient(rgba(255, 255, 255, 0.753), rgba(175, 172, 172, 0.904)), 
    url(./assets/cama-hospital.jpeg);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-service-card1 {
    height: 30rem;
    background:linear-gradient(rgba(54, 243, 126, 0.548), rgba(217, 255, 3, 0.438)), 
    url(https://images.unsplash.com/photo-1550831106-f8d5b6f1abe9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-service-card2 {
    height: 30rem;
    background:linear-gradient(rgba(54, 243, 126, 0.548), rgba(217, 255, 3, 0.438)), 
    url(https://images.unsplash.com/photo-1554734867-bf3c00a49371?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-service-card3 {
    height: 30rem;
    background:linear-gradient(rgba(54, 243, 126, 0.548), rgba(217, 255, 3, 0.438)), 
    url(https://images.unsplash.com/photo-1610995181977-0283a334a65c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-service-card4 {
    height: 30rem;
    background:linear-gradient(rgba(54, 243, 126, 0.548), rgba(217, 255, 3, 0.438)), 
    url(https://images.unsplash.com/photo-1505236858219-8359eb29e329?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1262&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  /* https://images.unsplash.com/photo-1610995181977-0283a334a65c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */

  .img {
    height: 10rem;
    background:
    url(http://ag-sertec.com/wp-content/uploads/2020/05/novedades.png);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .info {
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 251, 0, 0.719);
    visibility: hidden;
  }
  .img:hover .info {
    visibility: visible;
  }
  .mouseImg:hover {
    background-color: rgba(255, 255, 0, 0.692);
  }
  .sinSubrayado {
    text-decoration: none;
  } 
  .mouseBtn {
    transition: all infinite;
  } 
  .mouseBtn2:hover {
    background-color: #312ece; 
    
  }
  .mouseBtn4:hover {
    background-color: rgb(245, 245, 127);
  }
  .mouseBtn2 {
    transition: all infinite;
  }
  .mouseBtn3:hover {
    background-color: rgb(53, 194, 76);
  }
.bg-white {
    background-color: white;
}
.letraAzul {
    color: #3768AE;
}
.fontFamily {
    font-family: 'Ubuntu', sans-serif;
}
.bg-orange {
    background-color: orange;
}
.colorVerdeOscuro {
  color: #00A859;
}
.text-semi-black {
  color: rgb(83, 83, 83);
}
.colorAzul {
  color: #3768AE;
}
.colorVerdeClaro {
  color: #97D1AB;
}
.bg-blue-cem {
  background-color: #3768AE;
}
.bg-blue-cem:hover {
  background-color: #5581c0
}
.bg-blue {
  background-color: #3768AE;
}
.bg-green-soft {
  background-color: #97D1AB;
}
.bg-green-soft:hover {
  background-color: #7cdd9e;
}
.bgGreenOscuro {
  background-color: #00A859;
}
.bg-clinica-violeta {
  background-color: #AC0DA5;
}
.bg-yellow {
  background-color: #FFF212;
}
.colorWarning {
  color: orange;
}
.hoverNum {
  color: black;
}
.hoverNum:hover {
  color: #186C9F;
}
.colorYellow {
  color: #FFF212 ;
}
.bg-fondito {
  height: 100%;
    background:
    url(./assets/fondito.png);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.imagen2InicioCarrusel {
    height: 30rem;
    background:linear-gradient(rgba(95, 247, 153, 0.5), rgba(178, 22, 218, 0.5)), 
    url(https://images.unsplash.com/photo-1586773860418-d37222d8fce3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media only screen and (min-width:200px) and (max-width:992px){
    .imagen2InicioCarrusel {
      height: 20rem;
      background:linear-gradient(rgba(95, 247, 153, 0.5), rgba(178, 22, 218, 0.5)), 
      url(https://images.unsplash.com/photo-1586773860418-d37222d8fce3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
      /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    
  }


/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.bg-button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
}

.button-63 {
  background: linear-gradient(to bottom right, #d5e91c, #00A859);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-63:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(85, 239, 71, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-63:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 239, 121, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.button-64 {
  background: linear-gradient(to bottom right, #e9a11c, #0027a8);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-64:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(85, 239, 71, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-64:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 239, 121, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

  .bg-amigos {
    height: 30rem;
    background:linear-gradient(rgba(77, 77, 77, 0.4), rgba(250, 250, 250, 0.1)), 
    url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     /* */
  }
  @media only screen and (min-width:200px) and (max-width:992px){
    .bg-amigos {
      height: 30rem;
      background:linear-gradient(rgba(77, 77, 77, 0.6), rgba(250, 250, 250, 0.1)), 
      url( https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
      /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
       /* https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80 */
    }}
  .bg-oferta-nosotros {
    height: 30rem;
    background:linear-gradient(rgba(77, 77, 77, 0.5), rgba(51, 51, 51, 0.5)), 
    url(https://images.unsplash.com/photo-1517960413843-0aee8e2b3285?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1199&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .imagen1InicioCarrusel {
    height: 30rem;
    background:linear-gradient(rgba(54, 243, 126, 0.35), rgba(215, 248, 28, 0.35)), 
    url(https://images.unsplash.com/photo-1541848756149-e3843fcbbde0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1185&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media only screen and (min-width:200px) and (max-width:992px){
    .imagen1InicioCarrusel {
      height: 20rem;
      background:linear-gradient(rgba(54, 243, 126, 0.3), rgba(215, 248, 28, 0.3)), 
      url(https://images.unsplash.com/photo-1541848756149-e3843fcbbde0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1185&q=80);
      /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }}
.bg-nosotros {
  height: 55rem;
  background:linear-gradient(rgba(77, 77, 77, 0.5), rgba(51, 51, 51, 0.5)), 
  url(https://images.unsplash.com/photo-1638202993928-7267aad84c31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-width:200px) and (max-width:992px){
  .bg-nosotros {
    height: 30rem;
    background:linear-gradient(rgba(77, 77, 77, 0.5), rgba(51, 51, 51, 0.5)), 
    url(https://images.unsplash.com/photo-1638202993928-7267aad84c31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }}
  .bg-contacto {
    height: 30rem;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(51, 51, 51, 0.5)), 
    url(https://images.unsplash.com/photo-1600959907703-125ba1374a12?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-telefono-urg {
    /* https://images.unsplash.com/photo-1564732005956-20420ebdab60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */
    height: 100%;
    background:linear-gradient(rgba(255, 255, 255, 0.918), rgba(255, 255, 255, 0.63)), 
    url(https://images.unsplash.com/photo-1564732005956-20420ebdab60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .imgClinica1 {
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(51, 51, 51, 0.5)), 
    url(https://images.unsplash.com/photo-1631248055158-edec7a3c072b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1161&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  /*  */
  .imgClinica2 {
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(51, 51, 51, 0.5)), 
    url(https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 55px;
    bottom:10px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
  }
  .btn-wsp:hover{
    background: #20ba5a;
  }

  
  .fondo-icon {
    
    width:130px;
    height:95px;
    line-height: 100px;
    bottom:10px;
    right:25px;
    background:#3768AE;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    z-index:100;
    transition: all 300ms ease;
  }
  .fondo-icon:hover{
    background: #407bcc;
  }
  .bg-card-contacto {
    background: linear-gradient(rgba(177, 243, 160, 0.50), rgba(177, 243, 160, 0.50));
    border-radius:50px;
  }
  .fondo-icon2 {
    width:130px;
    height:95px;
    line-height: 55px;
    bottom:10px;
    right:25px;
    background:#00A859;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    z-index:100;
    transition: all 300ms ease;
  }
  .fondo-icon2:hover{
    background: #04d473;
  }

  @media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 55px;
  }
  }
.bg-bermudez {
  background-color: rgb(204, 83, 204)
}
.bg-amantar {
  background-color: #186C9F;
}
.no-border {
  border: none;
}